@use "../variables" as *;
@use "../mixins" as *;

.hero {
    width: 100%;

    .content {
        width: 100%;
        aspect-ratio: 530 / 747;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;

        .subtext {
            font-size: 28px;
            font-family: $font-MtdHangbird;
            position: relative;
            transform: rotate(-5deg);
            margin-top: 15%;

            &::before,
            &::after {
                display: block;
                position: absolute;
                content: "";
                max-width: 10px;
                width: 100%;
                aspect-ratio: 1;
                background: url('../../assets/images/icons/diamond_icon.png') no-repeat center / contain;
                transform: rotate(5deg);
            }

            &::after {
                top: 0;
                right: 20%;
            }

            &::before {
                bottom: 0;
                left: 20%;
            }
        }

        .main-img {
            margin: 15% 0;

            img {
                max-width: 100%;
            }
        }

        .couple-name {
            font-size: 68px;
            font-family: $font-MtdHangbird;
        }

        .time {
            font-size: 16px;
            font-family: $font-SVG-GothamBold;
        }

        @media (max-width: 530px) {
            .subtext {
                font-size: calc((28 / 530) * 100vw);

                &::before,
                &::after {
                    max-width: calc((10 / 530) * 100vw);
                }
            }

            .couple-name {
                font-size: calc((68 / 530) * 100vw);
            }

            .time {
                font-size: calc((16 / 530) * 100vw);
            }
        }
    }

}