@font-face {
    font-family: "1FTV-VIP-Bengoda";
    src: url("../../assets/fonts/1FTV-VIP-Bengoda.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "LORA-ITALIC-VARIABLEFONT_WGHT";
    src: url("../../assets/fonts/LORA-ITALIC-VARIABLEFONT_WGHT.TTF") format("TTF");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lora";
    src: url("../../assets/fonts/LORA-VARIABLEFONT_WGHT (2).TTF") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "MTD-Hangbird";
    src: url("../../assets/fonts/MTD-Hangbird.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SVG-GothamBook';
    src: url('../../assets/fonts/SVN-GothamBook.woff2') format('woff2'),
        url('../../assets/fonts/SVN-GothamBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SVG-GothamLight';
    src: url('../../assets/fonts/SVN-GothamLight.woff2') format('woff2'),
        url('../../assets/fonts/SVN-GothamLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SVG-GothamBold';
    src: url('../../assets/fonts/SVN-GothamBold.woff2') format('woff2'),
        url('../../assets/fonts/SVN-GothamBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HLTJaneAusten-NoSecret';
    src: url('../../assets/fonts/HLTJaneAusten-NoSecret.woff2') format('woff2'),
        url('../../assets/fonts/HLTJaneAusten-NoSecret.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}