$shadow-default: 0 10px 30px rgba(0, 0, 0, 0.309);
$radius: 15px;

// Colors
$primary-color: #611515ff;
$secondary-color: #611515ff;
$bg-color: #fff;

// Font
$font-main: 'Lora', sans-serif;
$font-MtdHangbird: 'MTD-Hangbird', sans-serif;
$font-SVG-GothamLight: 'SVG-GothamLight', sans-serif;
$font-SVG-gothamBook: 'SVG-gotham-book', sans-serif;
$font-SVG-GothamBold: 'SVG-GothamBold', sans-serif;
$font-HLTJaneAusten-NoSecret: 'HLTJaneAusten-NoSecret', sans-serif;

$base-font-size: 11px;

// Animation
$duration-fast: 0.5s;
$duration-slow: 1.2s;